/*Wrapper for padding inside PureCSS grids */
body {background: rgb(235,235,235);}
.l-box {
	padding: 1em;
}

.header{
left:0; right:0;
background: rgb(91,91,91);
padding:1.25em 2em 2em
}

.layout{
min-width:640px;
max-width:1200px;
margin:0 auto;
background: white
}

.index-menu.pure-menu.pure-menu-horizontal {
background: rgb(91,91,91);
position: relative;
left: -10px;
}

.index-menu.pure-menu.pure-menu-horizontal a{
background: rgb(91,91,91);
color:black;
padding-left: 12px;
padding-right: 12px;
padding-top: 0;
padding-bottom: 0;
}

.index-menu.pure-menu.pure-menu-horizontal {
text-align:left;
}